html{
    box-sizing: border-box;

}

*, *:before, *::after{
    box-sizing: inherit;
}

body{
    background-color: black;
    color: #fff;
}


.wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden; 
    margin: 0; 
    padding: 0;
}

.introGrid{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    column-gap: 0;
}

.introduction{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    padding-left: 10%;
    
}

.title{
    
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 60px;
}

.introText{
    width: 40%;
    font-size: 30px;
}


hr{
    margin: 4em 0;
    animation-name: drawLine;
    animation-duration: 2s;
    width: 90%;
    left: 5%;
    
    
}

@keyframes drawLine{
    from{
        width: 0%;
        left: 50%;
        
        
    }
    to{
        width:90%;
        left: 5%;
    }
}

.philosophy{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.philosophy h1{
    font-size: 60px;
}

.philosophy h2{
    font-size: 30px;
    font-style: italic;
    
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    position: relative;
    margin-top: 10px;
}

.carouselImgs{
    display: flex;
    transition: 0.4s;
    align-items: center;
    
}

.carouselPrinciples{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    
    
}

.carouselPrinciples h3{
    font-size: 50px;
    position: relative;
    left: 25%;
}

.carouselPrinciples p{
    position: relative;
    font-size: 30px;
    width: 50%;
    left: 25%;
    
}

.carousel img{
    width: 50%;
}

.imgNavigation{
    display: flex;
    position: absolute;
    top: -2%;
}

.imgIndex{
    width: 50px;
    height: 20px;
    border: 2px solid white;
    margin-right: 10px;
    cursor: pointer;
}

.imgIndex:hover{
    background-color: white;
}



